<div class="home-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 header-text">
       <h5>We Fill You Gap</h5>
       <p>we are ready to bring you all needs <br> anywhere at any time through our useful <br>
        mobile application. No needs to waste <br>time you are click away.
       </p>
       <button class="btn btn-install">Install Naw</button>
      </div>
      <div class="col-lg-6 col-md-6 header header-img">
       <img src="../../../../assets/image/header.png" alt="">
      </div>
     <div class="services">
      <div class=" pb-5 mb-5 mt-4">
        <img src="../../../../assets/image/services.png" alt="">
       </div>
       <div class=" pl-5 header-text">
        <h5>What We offer</h5>
        <p>we offer are different kinds of servcies<br> that will help your time and be <br>
         more comfortable
        </p>
        <button class="btn btn-install">Our services</button>
       </div>
     </div>
     <div class="providers">
           <h3>Our Providers</h3>
        <div class="provider">
          <div class="item" *ngFor="let product of arry" >
            <a [routerLink]="['providers/'+product.id]">
              <div class="img">
                <img [src]="[product.img]" alt="">

              </div>
              <h4>{{product.name}}</h4>
            </a>
          </div>
        </div>
     </div>

    </div>

  </div>
</div>
