<footer class="fixed-bottom">
    <div class="footer">
       <div class="footer_link">
         <h3>About Us</h3>
         <div class="menu-items">
          <li><a >Our History</a></li>
          <li><a >How we Work</a></li>
          <li><a >Resources</a></li>
         </div>
       </div>
       <div>
        <div class="logo"><img src="https://4all.ltd/assets/image/logo.png" alt=""></div>
        <p>FORALL</p>
        <div class="center">
          <a [routerLink]="['#']"><i class="fa-brands fa-facebook"></i></a>
          <a [routerLink]="['#']"><i class="fa-brands fa-instagram"></i></a>
          <a [routerLink]="['#']"><i class="fa-brands fa-linkedin"></i></a>
          <a [routerLink]="['#']"><i class="fa-brands fa-twitter"></i></a>
        </div>
       </div>
       <div class="address">
        <p><i class="fa-solid fa-location-dot"></i>Saudi Arabia</p>
        <p>jeddah,Sultan,Lilyan 2, 11th Floor</p>
       </div>
    </div>
</footer>
